# Ignore compiled files
*.class
*.o
*.pyc

# Ignore build output directories
bin/
build/
dist/

# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

data/renttherunway*
